/*
 * commitfest.postgresql.org specific styles
 */

/* For close button with float disabled */
.close-nofloat {
    float: none !important;
}

/* General form styling */
.form-horizontal div.form-group {
    margin-bottom: 10px;
}
div.form-group div.controls ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
div.form-group div.controls ul li {
    display: inline;
}
div.form-group div.controls ul li label {
    display: inline;
    font-weight: normal;
    vertical-align: middle;
}
div.form-group div.controls ul li label input {
    display: inline;
    vertical-align: middle;
}
div.form-group div.controls input[type="checkbox"] {
    width: 10px;
    height: unset;
    display: inline-block;
}
div.form-group div.controls > div.form-control:has(input[type="checkbox"]) {
    display: flex;
    gap: 8px;
}

div.form-group div.controls input.threadpick-input {
    width: 80%;
    display: inline;
}

/*
 * Attach thread dialog
 */
#attachThreadListWrap.loading {
    display: block;
    background: url("/media/commitfest/spinner.gif") no-repeat center;
    width: 124px;
    height: 124px;
    margin: 0 auto;
}
#attachThreadListWrap.loading * {
    display: none;
}

/*
 * Annotate message dialog */
#annotateMessageBody.loading {
    display: block;
    background: url("/media/commitfest/spinner.gif") no-repeat center;
    width: 124px;
    height: 124px;
    margin: 0 auto;
}
#annotateMessageBody.loading * {
    display: none;
}

.cfbot-summary img {
    margin-top: -3px;
}

.github-logo {
    height: 20px;
}

.additions {
    font-weight: bold;
    color: green;
}

.deletions {
    font-weight: bold;
    color: red;
}

.search-bar {
    display: inline-block;
}

/* Header styling */
#workflow-transitions-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Table styling */
#workflow-transitions-table {
    width: 100%;
    max-width: 500px; /* Updated max-width */
    border-collapse: collapse;
    margin: 20px 0; /* Remove centering */
    font-size: 16px;
    text-align: left;
}

#workflow-transitions-table th,
#workflow-transitions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 25%; /* Ensure all columns have the same width */
    text-align: center; /* Center-align cell labels */
}

#workflow-transitions-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-align: center;
}

#workflow-transitions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#workflow-transitions-table tr:hover {
    background-color: #f1f1f1;
}

#workflow-schedule-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px 0; /* Remove centering */
    font-size: 16px;
    text-align: left;
}

#workflow-schedule-table th,
#workflow-schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center-align cell labels */
}

#workflow-schedule-table td {
    width: 15%; /* First four columns */
}

#workflow-schedule-table td:nth-child(5),
#workflow-schedule-table td:nth-child(6) {
    width: 20%; /* Last two columns */
}

#workflow-schedule-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-align: center;
}

#workflow-schedule-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#workflow-schedule-table tr:hover {
    background-color: #f1f1f1;
}
