{%extends "base.html"%}
{%load commitfest %}
{%block contents%}

 <table class="table table-striped table-bordered table-hover">
  <thead>
   <tr>
    <th>Time</th>
    <th>User</th>
    <th>Patch</th>
    <th>Activity</th>
   </tr>
  </thead>
  <tbody>
   {%for a in activity %}
    <tr>
     <td style="white-space: nowrap;">{{a.date}}</td>
     <td>{{a.by}}</td>
     <td><a href="/{%if commitfest%}{{commitfest.id}}{%else%}{{a.cfid}}{%endif%}/{{a.patchid}}/">{{a.name}}</a></td>
     <td>{{a.what}}</td>
    </tr>
   {%endfor%}
  </tbody>
 </table>

{%endblock%}
