{%extends "base.html"%}
{%load commitfest%}

{%block contents%}
 <form class="form-horizontal {{extraformclass}}" method="POST" action=".">{%csrf_token%}
  {%if form.errors%}
   <div class="alert">Please correct the errors below, and re-submit the form.</div>
  {%endif%}
  {%if form.non_field_errors%}
   <div class="alert alert-danger">{{form.non_field_errors}}</div>
  {%endif%}
  {%if note%}
   <div class="alert alert-info">{{note|safe}}</div>
  {%endif%}
  {%for field in form%}
   {%if not field.is_hidden%}
    <div class="form-group">
     {{field|label_class:"control-label"}}
     <div class="col-lg-12 controls">
      {%if field.errors %}
       {%for e in field.errors%}
        <div class="alert alert-danger">{{e}}</div>
       {%endfor%}
      {%endif%}
      {%if field.name|slice:":7" == 'review_' %}
       {%for choice in field %}
        <div class="form-check form-check-inline">
         <input type="checkbox" class="form-check-input" name="{{field.name}}" value="{{choice.data.value}}" id="{{choice.id_for_label}}" {% if choice.data.selected %}checked{% endif %}>
         <label class="form-check-label" for="{{choice.id_for_label}}">{{choice.choice_label}}</label>
        </div>
       {%endfor%}
      {%elif not field.name in form.selectize_fields%}{{field|field_class:"form-control"}}{%else%}{{field}}{%endif%}
      {%if field.help_text%}<br/>{{field.help_text|safe}}{%endif%}</div>
    </div>
   {%else%}
    {{field}}
   {%endif%}
  {%endfor%}
  <div class="form-group">
   <div class="col-lg-12">
    <input type="submit" class="btn btn-primary" value="{{savebutton|default:"Save"}}">
   </div>
  </div>
 </form>

 {%if threadbrowse %}
  {%include "thread_attach.inc" %}
 {%endif%}

 {%if user.is_staff%}
  <div class="modal fade" id="searchUserModal" role="dialog">
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
      <h3 class="modal-title">Search user</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
      <form class="d-flex gap-2" style="margin-bottom: 5px;">
       <div class="input-group">
        <input id="searchUserSearchField" type="text" class="form-control" autocomplete="off">
        <button id="searchUserSearchButton" onclick="return findUsers()" class="btn btn-secondary">Search</button>
       </div>
      </form>
      <div>Search for users above and then pick one in the list below:</div>
      <div id="searchUserListWrap">
       <select id="searchUserList" size="6" style="width:100%;" onchange="searchUserListChanged()"></select>
      </div>
     </div>
     <div class="modal-footer">
      <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
      <a href="#" id="doSelectUserButton" class="btn btn-primary disabled">Add user to system</a>
     </div>
    </div>
   </div>
  </div>
 {%endif%}
{%endblock%}

{%block morescript%}

 {%include "selectize_js.html" %}
 <script>
  {%if user.is_staff%}
   $('.selectize-control.add-user-picker').after(
    $('<a href="#" class="btn btn-secondary btn-sm">Import user not listed</a>').click(function () {
     search_and_store_user();
    })
   );

   $('#searchUserModal').on('shown.bs.modal', function() {
    $('#searchUserSearchField').focus();
   });
  {%endif%}
 </script>
{%endblock%}
