{%load commitfest %}
<div id="collapseFilters" class="collapse {%if has_filter%}show{%endif%}">
 <form id="filterform" method="GET" action="." style="margin-bottom: 0px">
  <table class="table" style="margin-bottom: 0px">
   <thead>
    <tr>
     {%for f in form%}
      {%if not f.is_hidden%}
       <td>{{f.label}}</td>
      {%else%}
       <td></td>
      {%endif%}
     {%endfor%}
	    {%comment%} Add one extra for buttons {%endcomment%}
     <td></td>
    </tr>
   </thead>
   <tbody>
    <tr>
     {%for f in form%}
      <td>
       {%if not f.name in form.selectize_fields%}{{f|field_class:"form-control"}}{%else%}{{f}}{%endif%}
      </td>
     {%endfor%}
     <td>
      <input type="submit" class="btn btn-outline-secondary" value="Filter">
      <a class="btn btn-outline-secondary" href=".">Clear</a>
     </td>
    </tr>
   </tbody>
  </table>
 </form>
</div>
