{%extends "base.html"%}
{%load commitfest %}
{%block contents%}
 {% if not is_experienced_user %}
  <p>
   First time user? <a href="/help">Here is a help page</a> for you to understand how this website works.
  </p>
 {% endif %}

 <h3>CommitFests</h3>
 <p>
  <table class="table commitfests-table" style="table-layout: auto; width: auto;">
   <style>
    .commitfests-table td:first-child {
     text-align: right;
    }
   </style>
   <thead>
    <tr>
     <th></th>
     <th>Details</th>
     <th>When Open</th>
     <th>When In Progress</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td><strong>Open:</strong></td>
     <td><a href="/{{cfs.open.id}}/">{{cfs.open}}</a></td>
     <td>Now – {{cfs.open.last_open_date}}</td>
     <td>{{cfs.open.periodstring}}</td>
    </tr>
    <tr>
     <td><strong>In Progress:</strong></td>
     <td>
      {%if cfs.in_progress %}
       <a href="/{{cfs.in_progress.id}}/">{{cfs.in_progress}}</a>
      {%else%}
       <span class="text-muted">None in progress</span>
      {%endif%}
     </td>
     <td>
      {%if cfs.in_progress %}
       <span class="text-muted">Not open anymore</span>
      {%endif%}
     </td>
     <td>
      {%if cfs.in_progress %}
       Now – {{cfs.in_progress.enddate}}
      {%endif%}
     </td>
    </tr>
    <tr>
     <td><strong>Previous:</strong></td>
     <td><a href="/{{cfs.previous.id}}/">{{cfs.previous}}</a></td>
     <td><span class="text-muted">Not open anymore</span></td>
     <td><span class="text-muted">{{cfs.previous.periodstring}}</span></td>
    </tr>
    <tr>
     <td><strong>Draft:</strong></td>
     <td><a href="/{{cfs.draft.id}}/">{{cfs.draft}}</a></td>
     <td>Now – {{cfs.draft.enddate}}</td>
     <td><span class="text-muted">N/A</span></td>
    </tr>
    <tr>
     <td><strong>Next open:</strong></td>
     <td>{{cfs.next_open}}</td>
     <td>{{cfs.open.startdate}} – {{cfs.next_open.last_open_date}}</td>
     <td>{{cfs.next_open.periodstring}}</td>
    </tr>
    <tr>
     <td><strong>Final of this release:</strong></td>
     <td>
      {%if cfs.final.id %}
       <a href="/{{cfs.final.id}}/">{{cfs.final}}</a>
      {%else%}
       {{cfs.final}}
      {%endif%}
     </td>
     <td>
      {%if cfs.final.status == 2 %}
       Now – {{cfs.final.last_open_date}}
      {%elif cfs.final.status == 3 %}
       <span class="text-muted">Not open anymore</span>
      {%else%}
       {{cfs.final.startdate.year}}-01-01 – {{cfs.final.last_open_date}}
      {%endif%}
     </td>
     <td>
      {{cfs.final.periodstring}}
     </td>
    </tr>
   </tbody>
  </table>
 </p>

 <hr>
 <h3>Your Dashboard</h3>

 {% if not user.is_authenticated %}
  <div class="my-4">
   <a href="/account/login/?next=/" class="btn btn-primary btn-lg">Login to view your dashboard</a>
  </div>
 {% endif %}

 {% if show_dashboard %}

  <button type="button" class="btn btn-outline-secondary active" id="filterButton" onClick="togglePatchFilterButton('filterButton', 'collapseFilters')">Search/filter</button>

  {%include "filter_form.html" %}

  <p>
   <br/>
   <b>Status summary: </b>{%for id,title,num in statussummary%}<a href="?status={{id}}">{{title}}</a>: {{num}}. {%endfor%}
  </p>
  {%for p in patches %}
   {%ifchanged p.is_open%}
    {%if not forloop.first%}
     </tbody>
     </table>
    {%endif%}
    <h3>{%if user.is_authenticated%}Open patches you are subscribed to{%elif p.is_open%}Active patches in the current commitfest{%else%}Closed patches in the current commitfest{%endif%}</h3>
    <table class="table table-striped table-bordered table-hover">
     <thead>
      <tr>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(5);">Patch</a>{%if sortkey == 5%}<div style="float:right;">↓</div>{%elif sortkey == -5%}<div style="float:right;">↑</div>{%endif%}</th>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(4);">ID</a>{%if sortkey == 4%}<div style="float:right;">↓</div>{%elif sortkey == -4%}<div style="float:right;">↑</div>{%endif%}</th>
       {%if user.is_authenticated %}
        <th>
          <a href="#" style="color:#333333;" onclick="return sortpatches(8);">CF</a>
          <i class="bi bi-question-circle text-muted" style="font-size: 0.8em; margin-left: 3px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="Color coding:<br>Green = In Progress<br>Blue = Open<br>Red = Closed"></i>
          {%if sortkey == 8%}<div style="float:right;">↓</div>{%elif sortkey == -8%}<div style="float:right;">↑</div>{%endif%}
        </th>
       {%endif%}
       <th>Status</th>
       <th>Tags</th>
       <th>Ver</th>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(7);">CI status</a>{%if sortkey == 7%}<div style="float:right;">↓</div>{%elif sortkey == -7%}<div style="float:right;">↑</div>{%endif%}</th>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(6);">Stats</a>{%if sortkey == 6%}<div style="float:right;">↓</div>{%elif sortkey == -6%}<div style="float:right;">↑</div>{%endif%}</th>
       <th>Author</th>
       <th>Reviewers</th>
       <th>Committer</th>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(3);">Num cfs</a>{%if sortkey == 3%}<div style="float:right;">↓</div>{%elif sortkey == -3%}<div style="float:right;">↑</div>{%endif%}</th>
       <th><a href="#" style="color:#333333;" onclick="return sortpatches(2);">Latest mail</a>{%if sortkey == 2%}<div style="float:right;">↓</div>{%elif sortkey == -2%}<div style="float:right;">↑</div>{%endif%}</th>
      </tr>
     </thead>
     <tbody>
   {%endifchanged%}

   {%if grouping%}
    {%ifchanged p.topic%}
     <tr><th colspan="{%if user.is_authenticated %}13{%else%}12{%endif%}">{{p.topic}}</th></tr>
    {%endifchanged%}
   {%endif%}
   <tr>
    <td><a href="/patch/{{p.id}}/">{{p.name}}</a></td>
    <td>{{p.id}}</td>
    {%if user.is_authenticated %}
     <td><a href="/{{p.cf_id}}/"><span class="badge bg-{{p.cf_status|commitfeststatuslabel}}" title="{{p.cf_status|commitfeststatusstring}}">{{p.cf_name}}</span></a></td>
    {%endif%}
    <td><span class="badge bg-{{p.status|patchstatuslabel}}">{{p.status|patchstatusstring}}</span></td>
    <td style="width: min-content;">
     {%for t in p.tag_ids%}
      <a href="?tag={{t}}">
       <span class="badge" style="background-color: {{all_tags|tagcolor:t}};" title="{{all_tags|tagdescription:t}}">{{all_tags|tagname:t}}</span>
      </a>
     {%endfor%}
    </td>
    <td>{%if p.targetversion%}<span class="badge bg-secondary">{{p.targetversion}}</span>{%endif%}</td>
    <td class="cfbot-summary">
     {%with p.cfbot_results as cfb%}
      {%if not cfb %}
       <span class="badge bg-secondary">Not processed</span>
      {%elif p.needs_rebase_since %}
       <a href="{{cfb.apply_url}}" title="View git apply logs. Needs rebase {% cfsince p.needs_rebase_since %}. {%if p.failing_since and p.failing_since != p.needs_rebase_since %}Failing {% cfsince p.failing_since %}.{%endif%}">
        <span class="badge bg-warning">Needs rebase!</span>
       </a>
      {%else%}
       <a href="https://github.com/postgresql-cfbot/postgresql/compare/cf/{{p.id}}~1...cf/{{p.id}}" title="View last patch set on GitHub"><img class="github-logo" src="/media/commitfest/github-mark.svg"/></a>
       <a href="https://cirrus-ci.com/github/postgresql-cfbot/postgresql/cf%2F{{p.id}}"
          title="View CI history. {%if p.failing_since%}Failing {% cfsince p.failing_since %}. {%endif%}{%if cfb.failed_task_names %}Failed jobs: {{cfb.failed_task_names}}{%endif%}">
        {%if cfb.failed > 0 or cfb.branch_status == 'failed' or cfb.branch_status == 'timeout' %}
         <img src="/media/commitfest/new_failure.svg"/>
        {%elif cfb.completed < cfb.total  %}
         <img src="/media/commitfest/running.svg"/>
        {%else%}
         <img src="/media/commitfest/new_success.svg"/>
        {%endif%}
        <span class="run-counters">
         {{cfb.completed}}/{{cfb.total}}
        </span>
       </a>
      {%endif%}
      </td>
      <td>
       {%if cfb and cfb.all_additions is not none %}
        <span class="additions">+{{ cfb.all_additions }}</span><span class="deletions">&#8722;{{ cfb.all_deletions }}</span>
       {%endif%}
      </td>
     {%endwith%}
     <td>{{p.author_names|default:''}}</td>
     <td>{{p.reviewer_names|default:''}}</td>
     <td>{{p.committer|default:''}}</td>
     <td>{{p.num_cfs}}</td>
     <td style="white-space: nowrap;" title="{{p.lastmail}}">{%if p.lastmail and userprofile.show_relative_timestamps %}{% cfwhen p.lastmail %}{%elif p.lastmail %}{{p.lastmail|date:"Y-m-d"}}<br/>{{p.lastmail|date:"H:i"}}{%endif%}</td>
    </tr>
    {%if forloop.last%}
     </tbody>
     </table>
    {%endif%}
  {%endfor%}
 {% endif %}
{%endblock%}
{%block morescript%}
 {% if show_dashboard %}
  {% include "selectize_js.html" %}
 {% endif %}
{%endblock%}
