{%extends "base.html"%}
{%block contents%}
 <p>
  {%if inprogresscf%}A commitfest is currently in progress: <a href="/{{inprogresscf.id}}/">{{inprogresscf}}</a>.{%endif%}
 </p>
 <p>
  Useful links that you can use and bookmark:
 </p>
 <ul>
  <li><a href="/me/">Your personal dashboard</a></li>
  <li><a href="/current/">All patches in the current commitfest</a></li>
  <li><a href="/open/">All patches in the open commitfest</a></li>
  <li><a href="/open/new/">Create a new commitfest entry</a></li>
  <li><a href="/current/?author=-3">Your entries in the current commitfest</a></li>
  <li><a href="/open/?author=-3">Your entries in the open commitfest</a></li>
  <li><a href="/current/?reviewer=-3">Entries that you are reviewing in current commitfest</a></li>
 </ul>
 <h3>Commands</h3>
 <form method="GET" action="/search/" class="form-inline">
  <div class="form-group">
   <input type="text" class="form-control" id="searchterm" name="searchterm" placeholder="Global search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
 </form>
 <h3>List of commitfests</h3>
 <ul>
  {%for c in commitfests%}
   <li><a href="/{{c.id}}/">{{c}}</a> ({{c.statusstring}}{%if c.startdate%} - {{c.periodstring}}{%endif%})</li>
  {%endfor%}
 </ul>
 <br/>
{%endblock%}
