{%extends "base.html"%}
{%load commitfest %}
{%block contents%}

 <form method="GET" action="/search/" class="d-flex gap-2" style="margin-bottom: 10px">
  <div class="form-group">
   <input type="text" class="form-control" id="searchterm" name="searchterm" placeholder="Global search">
  </div>
  <button type="submit" class="btn btn-outline-secondary">Search</button>
 </form>

 <table class="table table-striped table-bordered table-hover">
  <thead>
   <tr>
    <th>Patch</th>
    <th>Status</th>
    <th>Author</th>
   </tr>
  </thead>
  <tbody>
   {%for p in patches %}
    {%with p.patchoncommitfest_set.all as cfs %}
     <tr>
      <td>{%with cfs|first as firstcf%}<a href="/{{firstcf.commitfest_id}}/{{p.id}}/">{{p}}</a>{%endwith%}</td>
      <td>{%for c in cfs %}
       <div style="margin-bottom: 3px;">{{c.commitfest}}: <span class="badge bg-secondary">{{c.statusstring}}</span></div>
      {%endfor%}</td>
      <td>{{p.authors_string|default:''}}</td>
     </tr>
    {%endwith%}
   {%endfor%}
  </tbody>
 </table>

{%endblock%}
